{% extends 'base.html.twig' %}

{% block title %}RssReader{% endblock %}

{% block body %}
    <nav class="navbar navbar-light bg-light fixed-top justify-content-end">
        <a class="btn btn-primary " href="{{ path('logout') }}">Logout</a>
    </nav>
    <div class="row mr-2 mt-5">
        <div class="col">
            <h2 >10 most frequent words with their respective counts:</h2>
            <ul style="list-style-type: circle;">
                {% for key, word in words %}
                    {% if loop.index <= 11 %}
                        <li>{{ key }}: {{ word }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <hr />
        </div>
    </div>

    {% for item in items %}
        <div class="row mr-2">
            <div class="col-lg-12 ml-3 ">
                <p><a href="{{ item.get_link() }}"> {{ item.get_title() | raw }} </a></p>
                <p>  {{ item.get_description() | raw }} </p>
                <p> {{ item.get_date() }} </p>
            </div>
        </div>
        <hr />
    {% endfor %}

{% endblock %}
